async_generator
attrs
backcall
bleach
blosc
brotli
certifi
cffi
importlib-metadata
ipykernel
ipython
ipywidgets
jupyter_client
jupyter_core
matplotlib
meshplot
nbconvert
nbformat
nest-asyncio
networkx
notebook
numpy
pip
prometheus_client
prompt-toolkit
pygments
pythreejs
scikit-image
scikit-learn
scipy
tifffile
mahotas
opencv
numba
pytest
shapely
umap-learn
pandas
seaborn
trimesh
pyvista
esda
libpysal
python-louvain
lightgbm
tabulate
